name: Release

on:
  release:
    types: [created]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: linux
            target: x86_64-unknown-linux-musl
          - os: windows
            target: x86_64-windows-msvc
          - os: macos
            target: x86_64-apple-darwin
          - os: macos-m1
            target: aarch64-apple-darwin
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        target: ${{ matrix.target }}
        default: true
    - run: cargo build --release --target ${{ matrix.target }}
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: ${{ matrix.os }}-binary
        path: target/${{ matrix.target }}/release/aws-ip-ranges
    - name: Download artifacts
      uses: actions/download-artifact@v2
      with:
        name: ${{ matrix.os }}-binary
        path: binaries/${{ matrix.os }}
    - name: Create release
      if: ${{ matrix.os == 'linux'  }}
      uses: softprops/action-gh-release@v1
      with:
        files: |
          binaries/linux/*
          binaries/window/*
          binaries/macos/*
          binaries/macos-m1/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
