name: Release

on:
  release:
    types: [created]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: cargo build --release
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: linux-binary
        path: target/x86_64-unknown-linux-musl/release/aws-ip-ranges
    # - name: Download artifacts
    #   uses: actions/download-artifact@v2
    #   with:
    #     name: linux-binary
    #     path: binaries/x86_64-unknown-linux-musl
    # - name: Create release
    #   if: ${{ matrix.os == 'linux'  }}
    #   uses: softprops/action-gh-release@v1
    #   with:
    #     files: |
    #       binaries/linux/*
    #       binaries/window/*
    #       binaries/macos/*
    #       binaries/macos-m1/*
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.RELEASE_PAT }}
